スキルチェック(インフラ)/PowerAutomate_FormsQuiz_Flow.json
{
  "schemaVersion": "1.0.0.0",
  "definition": {
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Button",
        "inputs": {}
      }
    },
    "actions": {
      "Initialize_FormItems": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "FormItems",
              "type": "array",
              "value": []
            }
          ]
        }
      },
      "ListRows": {
        "type": "OpenApiConnection",
        "runAfter": {
          "Initialize_FormItems": [
            "Succeeded"
          ]
        },
        "inputs": {
          "host": {
            "connectionName": "shared_excelonlinebusiness",
            "operationId": "ListRows",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"
          },
          "parameters": {
            "source": "me",
            "file": "/Documents/SkillCheck/TeamsForm_SkillCheck.xlsx",
            "table": "Table1"
          }
        }
      },
      "Apply_to_each": {
        "type": "Foreach",
        "foreach": "@outputs('ListRows')?['body/value']",
        "runAfter": {
          "ListRows": [
            "Succeeded"
          ]
        },
        "actions": {
          "Compose_QuestionItem": {
            "type": "Compose",
            "inputs": {
              "title": "@item()?['Question']",
              "type": "choice",
              "choices": [
                {
                  "displayName": "@item()?['Option1']",
                  "isCorrect": "@equals(item()?['Correct'], item()?['Option1'])"
                },
                {
                  "displayName": "@item()?['Option2']",
                  "isCorrect": "@equals(item()?['Correct'], item()?['Option2'])"
                },
                {
                  "displayName": "@item()?['Option3']",
                  "isCorrect": "@equals(item()?['Correct'], item()?['Option3'])"
                },
                {
                  "displayName": "@item()?['Option4']",
                  "isCorrect": "@equals(item()?['Correct'], item()?['Option4'])"
                }
              ],
              "required": true
            }
          },
          "Append_FormItems": {
            "type": "AppendToArrayVariable",
            "runAfter": {
              "Compose_QuestionItem": [
                "Succeeded"
              ]
            },
            "inputs": {
              "name": "FormItems",
              "value": "@outputs('Compose_QuestionItem')"
            }
          }
        }
      },
      "Compose_FinalJson": {
        "type": "Compose",
        "runAfter": {
          "Apply_to_each": [
            "Succeeded"
          ]
        },
        "inputs": {
          "displayName": "インフラ実務スキルチェック50問",
          "items": "@variables('FormItems')"
        }
      }
    }
  }
}